@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #5b3232;
    background: rgb(243, 190, 190);
    width: 100vw;
    height: 10vh;
    gap: 15px;
    position:sticky;
    top: 0;
    z-index:2;
}
.head-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-logo img{
    max-height: 10vh;
    border-radius: 15px;
}
.header a{
    text-decoration: none;
    color: #5b3232;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: transform 0.2s;
}
.header a:hover{
    color: rgb(243, 190, 190);
    background: #5b3232;
}
.header a:hover{
    transform: translate(
    -1px,-1px
  );
  box-shadow: 2px 2px 2px #381f1f;
}
.imenu{
    padding: 6px;
    transition: 0.1s;
} 
